h1 {
  font-family: 'Brandon Grotesque';
  text-align: center;
  font-weight: bold;
  color: #E8635E;
  font-size: 24px;
}
form  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

option  {
  font-family: 'Brandon Grotesk';
}

label  {
  font-family: 'Brandon Grotesque';
  font-weight: bold;
  font-size: 16px;
  padding-left: 15px;
}
input {
  padding-right: 450px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: .25rem;
  border-width: thin;
  border-color: silver;
  border-style: solid;
}
select {
  padding-right: 485px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: thin;
  border-radius: .25rem;
  border-color: silver;
  font-size: 16px;
  background-color: lightgrey;
  opacity: 60%;
}
div {
  margin-bottom: 20px;
}
:placeholder-shown {
  opacity: 50%;
  font-size: 16px;
}
.submit {
  color: white;
  background-color: #E8635E;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  border-style: none;
  font-size: 20px;
}
.button {
  text-align: right;
  width: 100%;
  padding-right: 270px;
}
#submit {
  text-align: right;
}
